* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --premier-color: #4A99D3;
}

a {
   text-decoration: none;
   color: white;
}

li {
   list-style: none;
}

body {
   font-family: 'Montserrat', sans-serif;
   position: relative;
   margin: 0;
   padding: 0;
}

::-webkit-scrollbar {
   width: 15px;
}

::-webkit-scrollbar-track {
   background-color: #eee;
}

::-webkit-scrollbar-thumb {
   background-color: var(--premier-color);
}

::-webkit-scrollbar-thumb:hover {
   background-color: #0d08b7;
}

/* navBar  */

.logo {
   width: 70px;
   height: 70px;
   border-radius: 50%
}

@media (max-width:767px) {
   .logo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
   }
}

.recherche-form {
   width: 45%;
}

@media (max-width:991px) {
   .recherche-form {
      width: 100%;
   }

}

.recherche-form .recherche-icon {
   top: 50%;
   transform: translateY(-50%);
   left: 15px;
   background: white;
   color: rgba(0, 0, 0, 0.54);
}

.navbar-nav {
   font-weight: bold;
}


.nav-item {
   margin-right: 20px;
   font-size: 16px;

}

@media(max-width:991px) {
   .nav-item {
      margin-right: 0;
      margin-top: 25px;
   }
}

.dropdown-menu {
   background-color: #e3f2fd !important;
   padding: 10px 15px;
}

.dropdown-menu .dropdown-item {
   font-weight: bold;
   padding: 7px 5px;
}

.nav-link.activate {
   color: #4CAFF7 !important;
}





/* ************************************************** */
.content {
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(184deg, #4A99D3 -130%, rgba(74, 153, 211, 0) 79.31%), #FFFFFF;

}


.content .paramtre {
   background-color: #fff;
   border: 2px solid #ccc;
   text-align: center;
   border-radius: 10px;
   box-shadow: 0px 0px 20px 1px #d4d4d4;
   padding: 40px 60px;
   max-width: 850px;
   margin: 30px 80px;
   width: 100%;
}


@media(max-width:500px){
   .content .paramtre {
      padding: 30px 25px;
   }

}

.content .paramtre form {
   padding: 0;
   text-align: left;
}

.content .paramtre .img-profil {
   width: fit-content;
   /* display: inline-block; */

   margin-bottom: 40px;
   margin: 0px auto 40px;

}

.content .paramtre .img-profil .image {
   width: 90px;
   height: 90px;
   border-radius: 50%;
}

.content .paramtre label {
   background-color: #e3f2fd;
   padding: 7px 12px;
   border-radius: 8px;
   font-size: 17px;
   font-weight: bold;
   text-align: left;
   width: 170px;
   margin-bottom: 15px;
   display: inline-block;
   margin-right: 25px;
   height: 45px;
   line-height: 30px;
}

.content .paramtre .change {
   margin-top: 45px;
   display: none;
   border: 2px solid #eee;
   border-radius: 5px;
   padding: 25px 15px 0 15px;
   width: 100%;
}

.content .paramtre  .change.active{
   display: block;
}

.content .paramtre .change label {
   width: 250px;
}

.content .paramtre .change input {
   width: calc(100% - 280px);
}

@media(max-width:960px){

   .content .paramtre .change input {
      width: 100%;
      margin-bottom: 20px;
   }
   .content .paramtre .change label {
      display: block;
      margin-bottom: 0px;
      background-color: white;
      width: 100%;
      padding-left: 0;
   }


   
}


.content .paramtre input {
   width: calc(100% - 200px);
   height: 45px;
   border: none;
   background-color: #e3f2fd;
   padding: 8px;
   border-radius: 5px;
   font-weight: 500;
}

.block {
   pointer-events: none;
   color: rgb(161, 161, 161);
}

.content .paramtre svg {
   cursor: pointer;
}

.content .paramtre .img-profil .modifie-img,
.content .paramtre .modifie1,
.content .paramtre .modifie2,
.content .paramtre .modifie3,
.content .paramtre .modifie4,
.content .paramtre .modifie5 {
   font-size: 18px;
   position: absolute;
   color: white;
   background-color: #4267B2;
   border-radius: 10px;
   padding: 2px 5px;
}
.content .paramtre .img-profil .modifie-img{
   padding: 6px;
}

.content .paramtre .modifie1,
.content .paramtre .modifie2,
.content .paramtre .modifie3,
.content .paramtre .modifie4,
.content .paramtre .modifie5 {
   right: 7px;
   top: 7px;

}


.content .paramtre .img-profil .modifie-img {
   bottom: 0;
   left: 60px;
}







.paramtre input::placeholder {
   color: #777;
   transition: .3s;
}


.paramtre input:focus::placeholder {
   opacity: 0;
}



.paramtre input[type="submit"] {
   margin: 0 auto;
   margin-bottom: 20px;
   padding: 10px 25px;
   font-weight: bold;
   background-color: var(--premier-color);
   margin-top: 60px;
   color: white;
   border-radius: 4px;
   width: 100%;
}



@media (max-width :810px) {
   .content .paramtre {
      margin: 0;
   }

   .content .paramtre label {
      display: block;
      margin-bottom: 0px;
      background-color: white;
      width: 100%;
      padding-left: 0;
   }

   .content .paramtre input {
      margin-bottom: 20px;
      width: 100%;
   }

   .content .paramtre .modifie1,
   .content .paramtre .modifie2,
   .content .paramtre .modifie3,
   .content .paramtre .modifie4,
   .content .paramtre .modifie5 {
      right: 7px;
      top: 52px;
   }

}


span {
   color: red;
   display: block;
   margin-bottom: 18px;
   text-align: left;
   font-size: 14px;
   margin-top: 0;
}




/* footer */

.footer {
   background-color: #7AC8E2;
   padding: 80px 10px;
   margin-top: 100px;
}


.titre {
   font-weight: 400;
   font-size: 19px;
   line-height: 18px;
   letter-spacing: 1.5px;
   margin-bottom: 20px;
   text-align: center;

}

.propos {
   padding-right: 15px;
}

.footer .logo-footer,
.services,
.propos,
.footer .faq {
   position: relative;
   border-right: 2px solid white;
   height: 130px;
   align-items: start;
   gap: 25px;
   padding-left: 10px;

}

.social,
.footer .faq,
.services,
.propos,
.footer .logo-footer {
   flex: 1;
   padding: 0 15px;
}

.box-footer {
   text-align: center;
}

@media (max-width:910px) {
   .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 60px;
      align-items: center;
   }

   .footer .logo-footer,
   .services {
      border-right: none;
      text-align: left;
   }

   .footer .faq {
      border-right: none;
   }

   .titre {
      font-size: 20px;
      font-weight: bold;
   }

   .box-footer {
      width: 100%;
   }

}

@media(max-width:545px) {
   .box-footer {
      flex-direction: column;
      gap: 40px;
   }

   .propos {
      border-right: none;
   }
}




.footer .logo-footer img {
   height: 145px;
   width: 145px;
}

div ul {
   padding: 0;
   margin: 0;
   margin-top: 10px;
   color: white;
}

div ul li:hover {
   text-decoration: underline solid white;
}


.list-social {
   max-width: 500px;
   margin: auto;
}

.social li svg {
   font-size: 35px;
   color: #1B244F;
   transition: 0.2s;
}

.social li .fa-facebook:hover {
   color: #4267B2;
}

.social li .fa-instagram:hover {
   color: #C13584;
}

.social li .fa-youtube:hover {
   color: #FF0000;
}

@media(max-width :910px) {
   .social {
      width: 100%;
      text-align: center;
   }
}

.contact-btn {
   border: 1px solid #fff;
   cursor: pointer;
   max-width: 300px;
   margin: auto;
   transition: 0.2s;
}

.contact-btn:hover {
   background-color: #1B244F;
   border: 1px solid #1B244F;
}