*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(184deg, #4A99D3 -130%, rgba(74, 153, 211, 0) 79.31%), #FFFFFF;
    min-height: 100vh;
}
@media (max-width:992px) {
    body{
       background-color: #DFEFF7
    }
}
/* hadou zidha f  ldebut nta3 la page */
 :root {
    --premier-color:#4A99D3;
    }
 
 a {
    text-decoration: none;
    color: white;
 }
 
 li {
    list-style: none;
 }
 
 
 ::-webkit-scrollbar {
    width: 15px;
 }
 
 ::-webkit-scrollbar-track {
    background-color: #eee;
 }
 
 ::-webkit-scrollbar-thumb {
    background-color: var(--premier-color);
 }
 
 ::-webkit-scrollbar-thumb:hover {
    background-color: #0d08b7;
 }
 
 
/* start navbar */
 
/* start navbar */
nav .logo {
   width: 70px;
   height: 70px;
   border-radius: 50%
 }
 
 @media (max-width:767px) {
   .logo {
     width: 50px;
     height: 50px;
     border-radius: 50%;
   }
 }
 
 .recherche-form {
   width: 45%;
 }
 
 @media (max-width:991px) {
   .recherche-form {
     width: 100%;
   }
 
 }
 
 .recherche-form .recherche-icon {
   top: 50%;
   transform: translateY(-50%);
   left: 15px;
   background: white;
   color: rgba(0, 0, 0, 0.54);
 }
 
 .navbar-nav {
   font-weight: bold;
 }
 
 
 .nav-item {
   margin-right: 20px;
   font-size: 16px;
 
 }
 
 @media(max-width:991px) {
   .nav-item {
     margin-right: 0;
     margin-top: 25px;
   }
 }
 .dropdown-menu{
   background-color: #e3f2fd !important;
   padding: 10px 15px;
 }
 .dropdown-menu  .dropdown-item{
   font-weight: bold;
   padding:7px 5px;
 }
 .nav-link.activate {
   color: #4CAFF7 !important;
 }
/* end navbar */
/*..........start content ....................*/
.content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 78%;
   margin: auto;

}
.content .imge{
   width:650px; 
   margin-bottom: 20px;   
}
@media (max-width:992px) {
   .content .imge{
      width:550px 
   }
}
@media (max-width:767px) {
   .content .imge{
      width:440px;
   }
}
.content .imge img{
   width: 100%;
}
.content .text p{
   font-family: 'Montserrat';
   font-weight: 600;
   font-size: 32px;
   line-height: 39px;
   text-transform: uppercase;
   color: #4A99D3;
   text-align: center;
   margin-bottom: 40px;

}
@media (max-width:992px) {
   .content .text p{
      font-size: 22px;
      line-height: 27px;
   }
}
@media (max-width:767px) {
   .content .text p{
      font-size: 18px;
   }
}
.content button{
   background: #4A99D3;
   border-radius: 4px;
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   color: #FFFFFF;
   padding: 10px 30px;
   border: none;
   margin-top: 50px;
}
@media (max-width:992px) {
   .content button{
      font-size: 18px;
      line-height: 22px;
      
   }
}
.content button:hover{
   background-color:#3b85ba ;
}
/* ............footer..................... */

.footer {
    background-color: #7AC8E2;
    padding: 80px 10px;
    margin-top: 100px;
 }
 
 
 .footer .titre {
    font-weight: 400;
    font-size: 19px;
    line-height: 18px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
 }
 
 .propos {
    padding-right: 15px;
 }
 
 .footer .logo-footer,
 .services,
 .propos,
 .footer .faq {
    position: relative;
    border-right: 2px solid white;
    height: 130px;
    align-items: start;
    gap: 25px;
    padding-left: 10px;
 
 }
 .social,
 .footer .faq,
 .services,
 .propos,
 .footer .logo-footer {
    flex: 1;
    padding: 0 15px;
 }
 
 .box-footer{
    text-align: center;
 }
 @media (max-width:910px) {
    .footer {
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap: 60px;
       align-items: center;
    }
 
    .footer .logo-footer,
    .services
    {
       border-right: none;
       text-align: left;
    }
    .footer .faq {
       border-right: none;
    }
 
    .titre {
       font-size: 20px;
       font-weight: bold;
    }
    .box-footer{
       width: 100%;
    }
 
 }
 @media(max-width:545px){
    .box-footer{
       flex-direction: column;
       gap: 40px;
    }
    .propos{
       border-right: none;
    }
 }
 
 
 
 
 .footer .logo-footer img {
    height: 145px;
    width: 145px;
 }
 
 div ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: white;
 }
 
 div ul li:hover {
    text-decoration: underline solid white;
 }
 
 
 .list-social {
    max-width: 500px;
    margin: auto;
 }
 
 .social li svg {
    font-size: 35px;
    color: #1B244F;
    transition: 0.2s;
 }
 
 .social li .fa-facebook:hover {
    color: #4267B2;
 }
 
 .social li .fa-instagram:hover {
    color: #C13584;
 }
 
 .social li .fa-youtube:hover {
    color: #FF0000;
 }
 
 @media(max-width :910px) {
    .social {
       width: 100%;
       text-align: center;
    }
 }
 
 .contact-btn {
    border: 1px solid #fff;
    cursor: pointer;
    max-width: 300px;
    margin: auto;
    transition: 0.2s;
 }
 
 .contact-btn:hover {
    background-color: #1B244F;
    border: 1px solid #1B244F;
 }
 
 
