<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Feedback </title>
   
     <!-- booststrap css -->
     <link rel="stylesheet" href="static/feedback/css/bootstrap.min.css">
     <!-- Render all elements normally -->
     <link rel="stylesheet" href="static/feedback/css/normalize.css">
    <!-- font Awesone library -->
    <link rel="stylesheet" href="static/feedback/css/all.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="static/feedback/css/feedback.css">
    <!-- font gooogle -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,600;0,800;1,300&display=swap" rel="stylesheet">

</head>
 <body>
   <!-- start header -->
   <nav class="navbar fs-5 w-100 position-relative z-2 text-center top-0 p-1 navbar-expand-lg"
   style="background-color: #e3f2fd !important;">
   <div class="container-fluid">
      <a class="navbar-brand" href="/"><img class="logo" src="static/feedback/imges/logo.png" alt=""></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <form class="d-flex m-auto recherche-form position-relative" role="search">
            <input class="form-control p-3 ps-5 rounded-3  me-2" type="search" placeholder="Search"
               aria-label="Search" name="query">
            <button class="border-0 position-absolute recherche-icon" type="submit">
               <i class="fa-solid fa-magnifying-glass fs-4"></i></button>
         </form>
         <ul class="navbar-nav   me-auto mb-2 mb-lg-0">

            <li class="nav-item  ">
               <a class="nav-link   " href="contact"><i class="fa-regular fa-envelope" style="margin-right: 2px; font-size: 20px;"></i> Contact</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-shop"   style="margin-right: 2px; font-size: 20px;"></i>produit
               </a>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-mobile-screen-button" style="margin-right: 10px; font-size: 22px;"></i> Telephones</a></li>
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-dumpster" style="margin-right: 10px; font-size: 22px;"></i>Accessoire</a></li>

               </ul>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="panier"><i class="fa-solid fa-basket-shopping" style="margin-right: 2px; font-size: 22px;"></i>Panier</a>
             </li>
            <li class="nav-item dropdown">
               <a class="nav-link activate dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-right-to-bracket" style="margin-right: 2px; font-size: 20px;"></i> connexion
               </a>
               <ul class="dropdown-menu">
                 <li><a class="dropdown-item" href="{% url 'profile' pk=user.username %}"><i class="fa-solid fa-user" style="margin-right: 10px; font-size: 22px;"></i> porfil</a></li>
                 <li><a class="dropdown-item" href="favorie"><i class="fa-regular fa-heart" style="margin-right: 10px; font-size: 22px;"></i>Favorie</a></li>
                 <li><a class="dropdown-item" href="commande"><i class="fa-solid fa-table-cells-large" style="margin-right: 10px; font-size: 22px;"></i>Mes commandes</a></li>
                 <li><a class="dropdown-item" href="logout"><i class="fa-solid fa-right-from-bracket" style="margin-right: 10px; font-size: 22px;"></i>Deconnexion</a></li>
               </ul>
             </li>
         </ul>
      </div>
   </div>
   </nav>
    <!-- end header -->

    <!-- start content-->
    <!-- <div class="contanier">
      ecrire votre feedback  
      <section >
        <div class="title">Ecrire votre feedback</div>
        <div class="box">
           <div class="content-box">
              <div class="heading">
                <div class="profile">
                    <div class="img">
                        <img src="imges/comment.png" alt="">
                    </div>
                    <div class="name-user" >
                        <h3>Djamal debouz</h3>
                    </div>
                </div>
                <div class="star-rating">
                  <span class="fa fa-star star" data-rating="1"></span>
                  <span class="fa fa-star star" data-rating="2"></span>
                  <span class="fa fa-star star" data-rating="3"></span>
                  <span class="fa fa-star star" data-rating="4"></span>
                  <span class="fa fa-star star" data-rating="5"></span>
                  <input type="hidden" name="rating" id="rating">
                </div>
              </div>
              <div class="comment">
                 <textarea>
                 </textarea>
              </div>

           </div>
           <button> Envoye </button>

        </div>
      </section>

      Voire les feedbacks des autres 
      <section>
        <div class="title">Voire les feedbacks des autres</div>
        <div class="box">
           <div class="content-box">
              <div class="heading">
                <div class="profile">
                    <div class="img">
                        <img src="imges/comment.png" alt="">
                    </div>
                    <div class="name-user">
                        <h3>Djamal debouz</h3>
                    </div>
                </div>
                <div class="reviews">
                  <i class="fa-solid fa-star" style="color:#F8A401;"></i>
                  <i class="fa-solid fa-star" style="color:#F8A401;"></i>
                  <i class="fa-solid fa-star" style="color:#F8A401;"></i>
                  <i class="fa-solid fa-star" style="color:#F8A401;"></i>
                  <i class="fa-solid fa-star" style="color:#ccc;"></i>
                </div>
              </div>
              <div class="comment">
                 <p>Je suis très satisfait du site ecommerce de vente de téléphones, 06mobile. Le choix de produits est impressionnant,
                   les descriptions sont détaillées et le processus de commande est simple et sécurisé. Je suis confiant dans la qualité
                    du service et des produits offerts par ce site
                  </p>
              </div>

           </div>
           <div class="content-box">
            <div class="heading">
              <div class="profile">
                  <div class="img">
                      <img src="imges/comment.png" alt="">
                  </div>
                  <div class="name-user">
                      <h3>Djamal debouz</h3>
                  </div>
              </div>
              <div class="reviews">
                <i class="fa-solid fa-star" style="color:#F8A401;"></i>
                <i class="fa-solid fa-star" style="color:#F8A401;"></i>
                <i class="fa-solid fa-star" style="color:#F8A401;"></i>
                <i class="fa-solid fa-star" style="color:#F8A401;"></i>
                <i class="fa-solid fa-star" style="color:#ccc;"></i>
              </div>
            </div>
            <div class="comment">
               <p>Je suis très satisfait du site ecommerce de vente de téléphones, 06mobile. Le choix de produits est impressionnant,
                 les descriptions sont détaillées et le processus de commande est simple et sécurisé. Je suis confiant dans la qualité
                  du service et des produits offerts par ce site
                </p>
            </div>

           </div>
           <div class="content-box">
           <div class="heading">
            <div class="profile">
                <div class="img">
                    <img src="imges/comment.png" alt="">
                </div>
                <div class="name-user">
                    <h3>Djamal debouz</h3>
                </div>
            </div>
            <div class="reviews">
              <i class="fa-solid fa-star" style="color:#F8A401;"></i>
              <i class="fa-solid fa-star" style="color:#F8A401;"></i>
              <i class="fa-solid fa-star" style="color:#F8A401;"></i>
              <i class="fa-solid fa-star" style="color:#F8A401;"></i>
              <i class="fa-solid fa-star" style="color:#ccc;"></i>
            </div>
          </div>
          <div class="comment">
             <p>Je suis très satisfait du site ecommerce de vente de téléphones, 06mobile. Le choix de produits est impressionnant,
               les descriptions sont détaillées et le processus de commande est simple et sécurisé. Je suis confiant dans la qualité
                du service et des produits offerts par ce site
              </p>
          </div>

           </div>
           <div class="content-box">
        <div class="heading">
          <div class="profile">
              <div class="img">
                  <img src="imges/comment.png" alt="">
              </div>
              <div class="name-user">
                  <h3>Djamal debouz</h3>
              </div>
          </div>
          <div class="reviews">
            <i class="fa-solid fa-star" style="color:#F8A401;"></i>
            <i class="fa-solid fa-star" style="color:#F8A401;"></i>
            <i class="fa-solid fa-star" style="color:#F8A401;"></i>
            <i class="fa-solid fa-star" style="color:#F8A401;"></i>
            <i class="fa-solid fa-star" style="color:#ccc;"></i>
          </div>
        </div>
        <div class="comment">
           <p>Je suis très satisfait du site ecommerce de vente de téléphones, 06mobile. Le choix de produits est impressionnant,
             les descriptions sont détaillées et le processus de commande est simple et sécurisé. Je suis confiant dans la qualité
              du service et des produits offerts par ce site
            </p>
        </div>

           </div>
           <div class="content-box">
      <div class="heading">
        <div class="profile">
            <div class="img">
                <img src="imges/comment.png" alt="">
            </div>
            <div class="name-user">
                <h3>Djamal debouz</h3>
            </div>
        </div>
        <div class="reviews">
          <i class="fa-solid fa-star" style="color:#F8A401;"></i>
          <i class="fa-solid fa-star" style="color:#F8A401;"></i>
          <i class="fa-solid fa-star" style="color:#F8A401;"></i>
          <i class="fa-solid fa-star" style="color:#F8A401;"></i>
          <i class="fa-solid fa-star" style="color:#ccc;"></i>
        </div>
      </div>
      <div class="comment">
         <p>Je suis très satisfait du site ecommerce de vente de téléphones, 06mobile. Le choix de produits est impressionnant,
           les descriptions sont détaillées et le processus de commande est simple et sécurisé. Je suis confiant dans la qualité
            du service et des produits offerts par ce site
          </p>
      </div>

           </div>

        </div>
      </section>

  
    </div> -->

    <div class="feed">
  
      <div class="title">Ecrire votre feedback</div>
      
      <div class="add-comment">
        <div class="utillisateur-courent">
         <div>
            <img src="{{user_profile.profileimg.url}}" class="photo-profile-courent" alt="">
            <p class="full-name-courent">{{ first_name }} {{ last_name }}</p>
         </div>
        
          <div class="star-rating ">
            <span class="fa fa-star star" data-rating="1"></span>
            <span class="fa fa-star star" data-rating="2"></span>
            <span class="fa fa-star star" data-rating="3"></span>
            <span class="fa fa-star star" data-rating="4"></span>
            <span class="fa fa-star star" data-rating="5"></span>
            <input type="hidden" name="rating" id="rating">
          </div>
        </div>
        
        <form action="" method="post" id="form">{% csrf_token %}
           {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
               <strong></strong>{{ message }}
            </div>
           {% endfor %}
          <div class="position-relative">
            <!-- message + erreur + counter -->
            <textarea name="message" id="myTextarea" class="message" placeholder="Your Message ..."></textarea>
            <span id="textareaCounter">0/500</span>
          </div>
          <span id="textareaError" class="text-start mt-0"></span>
          <div class="d-flex  gap-3 justify-content-sm-end justify-content-center align-items-center">
            <button type="submit" class="btn-add-comment  border-0 ms-2">Envoyer</button>
  
          </div>
        </form>
  
      </div>
      <div class="title">Voire les feedbacks des autres</div>
      <div class="tout-avis">
         {% for feedback in feedbacks %}
         <div class="avis">
            <div class="utillisateur">
               <div>
                  <img src="{{ feedback.profile.profileimg.url }}" class="photo-profile" alt="">
                  <p class="full-name">{{ feedback.user.get_full_name }}</p>
               </div>
               
               <div class="reviews">
                  <i class="fa-solid fa-star fa-lg" style="color:#F8A401;"></i>
                  <i class="fa-solid fa-star fa-lg" style="color:#F8A401;"></i>
                  <i class="fa-solid fa-star fa-lg" style="color:#F8A401;"></i>
                  <i class="fa-solid fa-star fa-lg" style="color:#F8A401;"></i>
                  <i class="fa-solid fa-star fa-lg" style="color:#ccc;"></i>
               </div>
            </div>
            <P class="msg">{{ feedback.comment }}</P>
         </div>
         {% endfor %}
         
      </div>
    </div>
  
  
  
  

















    <!-- end content-->

     <!--  start footer -->
       <div class="footer d-flex  text-white justify-content-between">
        <div class="logo-footer">
           <img src="static/feedback/imges/logo.png" class="" alt="">
        </div>
        <div class="box-footer flex-grow-1 d-flex align-items-center justify-content-between">
           <div class="propos">
              <h4 class="titre">Qui sommes-nous ?</h4>
              <ul class="">
               <li><a href="about">A propos de nous</a></li>
               <li><a href="https://www.facebook.com/06mobile" target="_blank">Visitez nous sur Facebook</a></li>
               <li><a href="https://www.youtube.com/@06mobile" target="_blank">Visitez nous sur Youtube </a></li>
               <li><a href="https://www.instagram.com/06mobile" target="_blank">Visitez nous sur Instagram</a></li>
            </ul>
           </div>
           <!-- <div class="services">
           <h4 class="titre">+ Services 06Mobile</h4>
           <ul class="">
              <li>Garantie 24 Mois</li>
              <li>Conseils gratuits</li>
           </ul>
           </div> -->
           <div class="faq">
              <h4 class="titre">Besoin d'aide ?</h4>
              <ul class="">
                 <li><a href="#">FAQ</a></li>
                 <li><a href="#">Produits</a></li>
                 <li><a href="#">Avis des clients</a></li>
              </ul>
           </div>
        </div>
       
        <div class="social">
           <h4 class="titre">Social</h4>
           <ul class="list-social d-flex align-items-center justify-content-around ">
            <li><a href="https://www.facebook.com/06mobile" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.tiktok.com/@06_mobile" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
            <li><a href="https://www.instagram.com/06mobile" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/@06mobile" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
         </ul>
           <div class="contact-btn text-center px-3 py-2 mt-4 "><a class="w-100 h-100 d-block"
                 href="contact">Contact</a></div>
        </div>
  
  
       </div>
    <!-- end foooter-->


    
    <script src="static/feedback/js/bootstrap.bundle.min.js"></script> 
    <script src="static/feedback/js/feedback.js" defer></script>
    


</body>
</html>