<!DOCTYPE html>

<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> produits</title>

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="static/produits/css/bootstrap.min.css">
   <link rel="stylesheet" href="static/produits/css/all.min.css">
   <link rel="stylesheet" href="static/produits/css/produits.css">
   <link rel="stylesheet" href="static/produits/css/normalise.css">
   <!-- Link Swiper's CSS -->

</head>

<body>

<!-- navbar -->
   <nav class="navbar fs-5 w-100 position-relative z-2 text-center top-0 p-1 navbar-expand-lg"
      style="background-color: #e3f2fd !important;">
      <div class="container-fluid">
         <a class="navbar-brand" href="/"><img class="logo" src="static/produits/images/logo.png" alt=""></a>

         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex m-auto recherche-form position-relative" role="search">
               <input class="form-control p-3 ps-5 rounded-3  me-2" type="search" placeholder="Recherche"
                  aria-label="Search" name="query">
               <button class="border-0 position-absolute recherche-icon" type="submit"><i
                     class="fa-solid fa-magnifying-glass fs-4"></i></button>
            </form>
            <ul class="navbar-nav   me-auto mb-2 mb-lg-0">

               <li class="nav-item  ">
                  <a class="nav-link activate  " href="contact"><i class="fa-regular fa-envelope"
                        style="margin-right: 2px; font-size: 20px;"></i> Contact</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">
                     <i class="fa-solid fa-shop" style="margin-right: 2px; font-size: 20px;"></i>produit
                  </a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="#"><i class="fa-solid fa-mobile-screen-button"
                              style="margin-right: 10px; font-size: 22px;"></i> Telephones</a></li>
                     <li><a class="dropdown-item" href="#"><i class="fa-solid fa-dumpster"
                              style="margin-right: 10px; font-size: 22px;"></i>Accessoire</a></li>

                  </ul>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="panier"><i class="fa-solid fa-basket-shopping"
                        style="margin-right: 2px; font-size: 22px;"></i>Panier</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     <i class="fa-solid fa-right-to-bracket" style="margin-right: 2px; font-size: 20px;"></i> connexion
                  </a>
                  <ul class="dropdown-menu">
                     {% if user.is_authenticated %}
                       {% if user.is_superuser %}  
                         <li><a class="dropdown-item" href="admin"><i class="fa-solid fa-cog" style="margin-right: 10px; font-size: 22px;"></i> Panneau d'admin</a></li>
                       {% else %}
                         <li><a class="dropdown-item" href="{% url 'profile' pk=user.username %}"><i class="fa-solid fa-user" style="margin-right: 10px; font-size: 22px;"></i> profil</a></li>
                         <li><a class="dropdown-item" href="favorie"><i class="fa-regular fa-heart" style="margin-right: 10px; font-size: 22px;"></i> Favorie</a></li>
                         <li><a class="dropdown-item" href="commande"><i class="fa-solid fa-table-cells-large" style="margin-right: 10px; font-size: 22px;"></i> Mes commandes</a></li>
                       {% endif %}
                       <li><a class="dropdown-item" href="logout"><i class="fa-solid fa-right-from-bracket" style="margin-right: 10px; font-size: 22px;"></i> Deconnexion</a></li>
                     {% else %}
                       <li><a class="dropdown-item" href="login"><i class="fa-solid fa-right-to-bracket" style="margin-right: 10px; font-size: 22px;"></i> Connexion</a></li>
                     {% endif %}
                   </ul>
                   
               </li>
            </ul>
         </div>
      </div>
   </nav>
 <!-- content -->


      <div class="container-fluid " id="container"  >
         <div class="row " style="background-color:#fff;">
            
            <div class=" sidebar col-3"  >
               <h3>Filtrer les produits </h3>
                  
               <div class="categories" >
                  <label for="prod">Catégories</label>
                  <select name="prod" id="category-select"> selectioner
                     <option value="" disabled selected>Sélectionner</option>
                     <option value="Telephones">Telephones </option>
                     <option value="Accessoire">Accesoire </option>
                     
                  </select>
                  
               </div>

            
               <div class=marque>
                  <label for="marq">Marque</label>
                  <select  name="marq" id="marq">
                     <option disabled selected value="">Désignation, modèle ...</option>
                     {% for categorie in categories %}
                     <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                     {% endfor %}

                  </select>
               </div>

             
                 <form action="">
                  <div id="price-filter">
                        <label for="min-price">Prix minimum:</label>
                        <input type="number" min="0" id="min-price" required>
                        <label for="max-price">Prix maximum:</label>
                        <input type="number"   min="0" id="max-price" required>   
                        <span id="message"></span> 
                   </div>
                 </form>
               
                  
               <div class="stok">
                   
                  <input type="checkbox" id="en-stock" name="en-stock">
                  <div class="pargh">
                     <label for="en-stock"> en stock</label>

                  </div>
               </div>
               <button id="filter-btn" class="btn"> Filtrer</button>

               <button class="close-button"><i class="fa-regular fa-x"></i></button>
               
               
            </div>
            <div class=" col-sm-12 col-md-9  content " style="background-color:#fff; margin-bottom:120px "  >
                    <button class="menu-button">Filtrer</button>
                    
                    <div class="row" id="empty-head"  > 
                        <ul > 
                           <li  class="col-5 " id="title" style="padding-left:10%;">Telephones</li>
                           <li class=" col-2 text-center  sta" style="padding-right :0%"  >Statut</li>
                           <li class=" col-4  pr " style="padding-left:1.5% ;">Prix</li>
                        </ul>
                    </div>
                    <div class="boxes  d-flex d-lg-block"  >
                     {% if search_results %}
                      <h2>Search results for "{{ query }}"</h2>
                      {% for product in products %}
                      <div class="box">
                        <a  href="{% url 'detail' product.id %}"> <img src="{{ product.image.url }}" alt=""></a>
                        <div class="mark-tel">
                          <h3>{{ product.nom }}</h3>
                          <p>{{ product.description }}</p>
                        </div> 
                        <div class="statut {% if product.vendu %}en-rupture{% else %}en-stock{% endif %}">
                          {% if product.vendu %}EN RUPTURE{% else %}EN STOCK{% endif %}
                        </div>
                        <div class="prix"><span>{{ product.prix }}</span> da</div>
                        <div class="our-button">
                          <button id="heart-btn" class="btn">
                            <i class="far fa-heart"></i>
                            <i class="fas fa-heart show"></i>
                          </button>
                          <button id="shoping" class="btn">
                           <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                          </button>
                        </div>
                      </div>
                      {% empty %}
                      <p>No search results.</p>
                      {% endfor %}
                     {% else %}
                     {% for product in products %}
                     <div class="box">
                        <a  href="{% url 'detail' product.id %}"><img src="{{ product.image.url }}" alt="{{ product.nom }}"></a>
                       <div class="mark-tel">
                         <h3>{{ product.nom }}</h3>
                         <p>{{ product.description }}</p>
                       </div>
                       <div class="statut {% if product.vendu %}en-rupture{% else %}en-stock{% endif %}">
                         {% if product.vendu %}EN RUPTURE{% else %}EN STOCK{% endif %}
                       </div>
                       <div class="prix"><span>{{ product.prix }}</span> da</div>
                       <div class="our-button"> 
                        <button id="heart-btn" class="btn">                       
                           <i class="far fa-heart"></i>
                           <i class="fas fa-heart show"></i></a>
                        </button>
                                   
                         <a href="{% url 'add_to_panier' product.id  %}"><button id="shoping" class="btn" ><i class="fa-solid fa-cart-shopping fa-2xl"></i></button></a>
                       </div>
                     </div>
                     {% endfor %}
                     {% endif %}
                        <!-- <div class="box ">
                           <img src="images/LD0006018158.jpg.png" alt="">
                           <div class="mark-tel">
                              <h3>Sony FW-75X905H</h3>
                              <p>Ecran professionnel 4K - 75" (190 cm) - Dolby Vision
                                 - 620 cd/m² - 6000:1 - 8 ms - 4x HDMI   - Wi-Fi/Bluetooth 
                                 - Chromeast/AirPlay - 2 x 10W - 24/7 - Pieds inclus
                              </p>
                           </div>
                           <div class=" statut en-stock">EN STOK</div>
                           <div class="prix"><span>4000</span> da</div>
                           <div class="our-button" >
                                 <button id="heart-btn" class="btn " >
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart show"></i>
                              </button>
                              <button id="shoping" class="btn"><i class="fa-solid fa-cart-shopping fa-2xl"></i></button>
                           </div>
                           
                        </div>
                        <div class="box ">
                           <img src="images/LD0006018158.jpg.png" alt="">
                           <div class="mark-tel">
                              <h3>Sony FW-75X905H</h3>
                              <p>Ecran professionnel 4K - 75" (190 cm) - Dolby Vision
                                 - 620 cd/m² - 6000:1 - 8 ms - 4x HDMI   - Wi-Fi/Bluetooth 
                                 - Chromeast/AirPlay - 2 x 10W - 24/7 - Pieds inclus
                              </p>
                           </div>
                           <div class=" statut en-rupture"> EN RUPTURE </div>
                           <div class="prix"><span>9000</span> da</div>
                           <div class="our-button" >
                                 <button id="heart-btn" class="btn " >
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart show"></i>
                              </button>
                              <button id="shoping" class="btn"><i class="fa-solid fa-cart-shopping fa-2xl"></i></button>
                           </div>
                           
                        </div>
                        <div class="box ">
                           <img src="images/LD0006018158.jpg.png" alt="">
                           <div class="mark-tel">
                              <h3>Sony FW-75X905H</h3>
                              <p>Ecran professionnel 4K - 75" (190 cm) - Dolby Vision
                                 - 620 cd/m² - 6000:1 - 8 ms - 4x HDMI   - Wi-Fi/Bluetooth 
                                 - Chromeast/AirPlay - 2 x 10W - 24/7 - Pieds inclus
                              </p>
                           </div>
                           <div class=" statut en-stock">EN STOK</div>
                           <div class="prix"><span>4000</span> da</div>
                           <div class="our-button" >
                                 <button id="heart-btn" class="btn " >
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart show"></i>
                              </button>
                              <button id="shoping" class="btn"><i class="fa-solid fa-cart-shopping fa-2xl"></i></button>
                           </div>
                           
                        </div>
                        <div class="box ">
                           <img src="images/LD0006018158.jpg.png" alt="">
                           <div class="mark-tel">
                              <h3>Sony FW-75X905H</h3>
                              <p>Ecran professionnel 4K - 75" (190 cm) - Dolby Vision
                                 - 620 cd/m² - 6000:1 - 8 ms - 4x HDMI   - Wi-Fi/Bluetooth 
                                 - Chromeast/AirPlay - 2 x 10W - 24/7 - Pieds inclus
                              </p>
                           </div>
                           <div class=" statut en-rupture"> EN RUPTURE </div>
                           <div class="prix"><span>6000</span> da</div>
                           <div class="our-button" >
                                 <button id="heart-btn" class="btn " >
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart show"></i>
                              </button>
                              <button id="shoping" class="btn"><i class="fa-solid fa-cart-shopping fa-2xl"></i></button>
                           </div>
                           
                        </div>
                        <div class="box ">
                           <img src="images/LD0006018158.jpg.png" alt="">
                           <div class="mark-tel">
                              <h3>Sony FW-75X905H</h3>
                              <p>Ecran professionnel 4K - 75" (190 cm) - Dolby Vision
                                 - 620 cd/m² - 6000:1 - 8 ms - 4x HDMI   - Wi-Fi/Bluetooth 
                                 - Chromeast/AirPlay - 2 x 10W - 24/7 - Pieds inclus
                              </p>
                           </div>
                           <div class=" statut en-stock">EN STOK</div>
                           <div class="prix"><span>4000</span> da</div>
                           <div class="our-button" >
                                 <button id="heart-btn" class="btn " >
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart show"></i>
                              </button>
                              <button id="shoping" class="btn"><i class="fa-solid fa-cart-shopping fa-2xl"></i></button>
                           </div>
                           
                        </div>
                        <div class="box ">
                           <img src="images/LD0006018158.jpg.png" alt="">
                           <div class="mark-tel">
                              <h3>Sony FW-75X905H</h3>
                              <p>Ecran professionnel 4K - 75" (190 cm) - Dolby Vision
                                 - 620 cd/m² - 6000:1 - 8 ms - 4x HDMI   - Wi-Fi/Bluetooth 
                                 - Chromeast/AirPlay - 2 x 10W - 24/7 - Pieds inclus
                              </p>
                           </div>
                           <div class=" statut en-rupture"> EN RUPTURE </div>
                           <div class="prix"><span>9000</span> da</div>
                           <div class="our-button" >
                                 <button id="heart-btn" class="btn " >
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart show"></i>
                              </button>
                              <button id="shoping" class="btn"><i class="fa-solid fa-cart-shopping fa-2xl"></i></button>
                           </div>
                           
                        </div>
                        <div class="box ">
                           <img src="images/LD0006018158.jpg.png" alt="">
                           <div class="mark-tel">
                              <h3>Sony FW-75X905H</h3>
                              <p>Ecran professionnel 4K - 75" (190 cm) - Dolby Vision
                                 - 620 cd/m² - 6000:1 - 8 ms - 4x HDMI   - Wi-Fi/Bluetooth 
                                 - Chromeast/AirPlay - 2 x 10W - 24/7 - Pieds inclus
                              </p>
                           </div>
                           <div class=" statut en-stock">EN STOK</div>
                           <div class="prix"><span>4000</span> da</div>
                           <div class="our-button" >
                                 <button id="heart-btn" class="btn " >
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart show"></i>
                              </button>
                              <button id="shoping" class="btn"><i class="fa-solid fa-cart-shopping fa-2xl"></i></button>
                           </div>
                           
                        </div>
                        <div class="box ">
                           <img src="images/LD0006018158.jpg.png" alt="">
                           <div class="mark-tel">
                              <h3>Sony FW-75X905H</h3>
                              <p>Ecran professionnel 4K - 75" (190 cm) - Dolby Vision
                                 - 620 cd/m² - 6000:1 - 8 ms - 4x HDMI   - Wi-Fi/Bluetooth 
                                 - Chromeast/AirPlay - 2 x 10W - 24/7 - Pieds inclus
                              </p>
                           </div>
                           <div class=" statut en-rupture"> EN RUPTURE </div>
                           <div class="prix"><span>6000</span> da</div>
                           <div class="our-button" >
                                 <button id="heart-btn" class="btn " >
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart show"></i>
                              </button>
                              <button id="shoping" class="btn"><i class="fa-solid fa-cart-shopping fa-2xl"></i></button>
                           </div>
                           
                        </div>
                        <div class="box ">
                           <img src="images/LD0006018158.jpg.png" alt="">
                           <div class="mark-tel">
                              <h3>Sony FW-75X905H</h3>
                              <p>Ecran professionnel 4K - 75" (190 cm) - Dolby Vision
                                 - 620 cd/m² - 6000:1 - 8 ms - 4x HDMI   - Wi-Fi/Bluetooth 
                                 - Chromeast/AirPlay - 2 x 10W - 24/7 - Pieds inclus
                              </p>
                           </div>
                           <div class=" statut en-stock">EN STOK</div>
                           <div class="prix"><span>4000</span> da</div>
                           <div class="our-button" >
                                 <button id="heart-btn" class="btn " >
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart show"></i>
                              </button>
                              <button id="shoping" class="btn"><i class="fa-solid fa-cart-shopping fa-2xl"></i></button>
                           </div>
                           
                        </div>
                        <div class="box ">
                           <img src="images/LD0006018158.jpg.png" alt="">
                           <div class="mark-tel">
                              <h3>Sony FW-75X905H</h3>
                              <p>Ecran professionnel 4K - 75" (190 cm) - Dolby Vision
                                 - 620 cd/m² - 6000:1 - 8 ms - 4x HDMI   - Wi-Fi/Bluetooth 
                                 - Chromeast/AirPlay - 2 x 10W - 24/7 - Pieds inclus
                              </p>
                           </div>
                           <div class=" statut en-rupture"> EN RUPTURE </div>
                           <div class="prix"><span>9000</span> da</div>
                           <div class="our-button" >
                                 <button id="heart-btn" class="btn " >
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart show"></i>
                              </button>
                              <button id="shoping" class="btn"><i class="fa-solid fa-cart-shopping fa-2xl"></i></button>
                           </div>
                           
                        </div>
                        <div class="box ">
                           <img src="images/LD0006018158.jpg.png" alt="">
                           <div class="mark-tel">
                              <h3>Sony FW-75X905H</h3>
                              <p>Ecran professionnel 4K - 75" (190 cm) - Dolby Vision
                                 - 620 cd/m² - 6000:1 - 8 ms - 4x HDMI   - Wi-Fi/Bluetooth 
                                 - Chromeast/AirPlay - 2 x 10W - 24/7 - Pieds inclus
                              </p>
                           </div>
                           <div class=" statut en-stock">EN STOK</div>
                           <div class="prix"><span>4000</span> da</div>
                           <div class="our-button" >
                                 <button id="heart-btn" class="btn " >
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart show"></i>
                              </button>
                              <button id="shoping" class="btn"><i class="fa-solid fa-cart-shopping fa-2xl"></i></button>
                           </div>
                           
                        </div> -->
                    </div>
                    <div  id="videMessage">
                        
                        <img src="static/produits/images/search.png" alt="">
                        
                        <p>Oups! Aucun resultat rouve. veuillez reessayer avec un autre recherche.</p>
                    </div>
                    
            </div>
         </div>
      </div>

       


   <!-- footer -->


   <div class="footer d-flex  text-white justify-content-between">
      <div class="logo-footer">
         <img src="static/produits/images/logo.png" class="" alt="">
      </div>
      <div class="box-footer flex-grow-1 d-flex align-items-center justify-content-between">
         <div class="propos">
            <h4 class="titre">Qui sommes-nous ?</h4>
            <ul class="">
               <li><a href="{% url 'about' %}">A propos de nous</a></li>
               <li><a href="https://www.facebook.com/06mobile" target="_blank">Visitez nous sur Facebook</a></li>
               <li><a href="https://www.youtube.com/@06mobile" target="_blank">Visitez nous sur Youtube </a></li>
               <li><a href="https://www.instagram.com/06mobile" target="_blank">Visitez nous sur Instagram</a></li>
            </ul>
         </div>

         <div class="faq">
            <h4 class="titre">Besoin d'aide ?</h4>
            <ul class="">
               <li><a href="#">FAQ</a></li>
               <li><a href="{% url 'products' %}">Produits</a></li>
               <li><a href="{% url 'feedback' %}">Avis des clients</a></li>
            </ul>
         </div>
      </div>

      <div class="social">
         <h4 class="titre">Social</h4>
         <ul class="list-social d-flex align-items-center justify-content-around ">
            <li><a href="https://www.facebook.com/06mobile" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.tiktok.com/@06_mobile" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
            <li><a href="https://www.instagram.com/06mobile" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/@06mobile" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
         </ul>
         <div class="contact-btn text-center px-3 py-2 mt-4 "><a class="w-100 h-100 d-block"
               href="{% url 'contact' %}">Contact</a></div>
      </div>


   </div>

</body>

<script src="static/produits/javascript/bootstrap.bundle.min.js"></script>

<script src="static/produits/javascript/produits.js"></script>

</html>