{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil - {{user_profile.user.username}}</title>
    <!-- Render all elements normally -->
    <link rel="stylesheet" href="{% static 'profil/css/normalize.css' %}">
  
     <!-- booststrap css -->
  
    <link rel="stylesheet" href="{% static 'profil/css/bootstrap.min.css' %}">
    <!-- font Awesone library -->
    <link rel="stylesheet" href="{% static 'profil/css/all.min.css' %}">
      <!-- main css -->
    <link rel="stylesheet" href="{% static 'profil/css/profil2.css' %}">
    <!-- font gooogle -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,600;0,800;1,300&display=swap" rel="stylesheet">

</head>
 <body>
   <!-- start header -->
   <nav class="navbar fs-5 w-100 position-relative z-2 text-center top-0 p-1 navbar-expand-lg"
   style="background-color: #e3f2fd !important;">
   <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/"><img class="logo" src="{% static 'profil/imges/logo.png' %}" alt=""></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <form class="d-flex m-auto recherche-form position-relative" method="get" action="{% url 'products' %}" role="search">
            <input class="form-control p-3 ps-5 rounded-3  me-2" value="{{ query }}" type="search" placeholder="Search"
               aria-label="Search" name="query">
            <button class="border-0 position-absolute recherche-icon" type="submit">
               <i class="fa-solid fa-magnifying-glass fs-4"></i></button>
         </form>
         <ul class="navbar-nav   me-auto mb-2 mb-lg-0">

            <li class="nav-item  ">
               <a class="nav-link   " href="http://127.0.0.1:8000/contact"><i class="fa-regular fa-envelope" style="margin-right: 2px; font-size: 20px;"></i> Contact</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-shop"   style="margin-right: 2px; font-size: 20px;"></i>produit
               </a>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-mobile-screen-button" style="margin-right: 10px; font-size: 22px;"></i> Telephones</a></li>
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-dumpster" style="margin-right: 10px; font-size: 22px;"></i>Accessoire</a></li>

               </ul>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'panier' %}"><i class="fa-solid fa-basket-shopping" style="margin-right: 2px; font-size: 22px;"></i>Panier</a>
             </li>
            <li class="nav-item dropdown">
               <a class="nav-link activate dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-right-to-bracket" style="margin-right: 2px; font-size: 20px;"></i> connexion
               </a>
               <ul class="dropdown-menu">
                {% if user.is_superuser %}  
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/admin"><i class="fa-solid fa-cog" style="margin-right: 10px; font-size: 22px;"></i> Panneau d'admin</a></li>
                {% else %}
                  <li><a class="dropdown-item" href=""><i class="fa-solid fa-user" style="margin-right: 10px; font-size: 22px;"></i> profil</a></li>
                  <li><a class="dropdown-item" href="{% url 'favorie' %}"><i class="fa-regular fa-heart" style="margin-right: 10px; font-size: 22px;"></i> Favorie</a></li>
                  <li><a class="dropdown-item" href="{% url 'commande' %}"><i class="fa-solid fa-table-cells-large" style="margin-right: 10px; font-size: 22px;"></i> Mes commandes</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/logout"><i class="fa-solid fa-right-from-bracket" style="margin-right: 10px; font-size: 22px;"></i> Deconnexion</a></li>
               </ul>
             </li>
         </ul>
      </div>
   </div>
   </nav>
    <!-- end header -->

   <!-- start content -->
   <div class="container">
    <div class="content  ">
            <div class="head">
                <div class="imge">
                    <img src="{{user_profile.profileimg.url}}" alt="">
                </div>
                <div class="info">
                    <p class="name">{{user_profile.user.username}}</p>
                    <p class="email">{{user_profile.user.email}} </p>
                    <!--<p class="number"> 079348934829239</p>-->
                </div>
               <div class="icons">
                 <a href="{% url 'products' %}"> <img  src="{% static 'profil/imges/Vector2.png' %}" alt=""></a>
            
               </div>
            </div>
            <div class="backgourd">
                <a href="{% url 'commande' %}">Commandes</a>
                <a href="">Panier</a>
                <a href="{% url 'favorie' %}"> Favoris</a>
            </div>
            <div class="nobackgourd">
                <a href="{% url 'feedback' %}">Feedback</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'parameter' user.username %}">Parametres</a>
            </div>
        
    </div>
   </div>
   <!-- end content -->
     <!--  start footer -->
     <div class="footer d-flex  text-white justify-content-between">
      <div class="logo-footer">
         <img src="{% static 'profil/imges/logo.png' %}" class="" alt="">
      </div>
      <div class="box-footer flex-grow-1 d-flex align-items-center justify-content-between">
         <div class="propos">
            <h4 class="titre">Qui sommes-nous ?</h4>
            <ul class="">
               <li><a href="about">A propos de nous</a></li>
               <li><a href="https://www.facebook.com/06mobile" target="_blank">Visitez nous sur Facebook</a></li>
               <li><a href="https://www.youtube.com/@06mobile" target="_blank">Visitez nous sur Youtube </a></li>
               <li><a href="https://www.instagram.com/06mobile" target="_blank">Visitez nous sur Instagram</a></li>
            </ul>
         </div>
         <!-- <div class="services">
         <h4 class="titre">+ Services 06Mobile</h4>
         <ul class="">
            <li>Garantie 24 Mois</li>
            <li>Conseils gratuits</li>
         </ul>
         </div> -->
         <div class="faq">
            <h4 class="titre">Besoin d'aide ?</h4>
            <ul class="">
               <li><a href="#">FAQ</a></li>
               <li><a href="#">Produits</a></li>
               <li><a href="#">Avis des clients</a></li>
            </ul>
         </div>
      </div>
     
      <div class="social">
         <h4 class="titre">Social</h4>
         <ul class="list-social d-flex align-items-center justify-content-around ">
            <li><a href="https://www.facebook.com/06mobile" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/06mobile" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/@06mobile" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
         </ul>
         <div class="contact-btn text-center px-3 py-2 mt-4 "><a class="w-100 h-100 d-block"
               href="http://127.0.0.1:8000/contact">Contact</a></div>
      </div>


     </div>
   <!-- end foooter-->
    
   <script src="{% static 'profil/js/popper.min.js' %}"></script>
   <script src="{% static 'profil/js/jquery-3.6.3.min.js' %}"></script>
   <script src="{% static 'profil/js/bootstrap.js' %}"></script>
   <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'profil/js/all.min.js' %}"></script> 
  
</body>
</html>