<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="static/reinitalisation/css/all.min.css">
   <link rel="stylesheet" href="static/reinitalisation//css/bootstrap.min.css">
   <link rel="stylesheet" href="static/reinitalisation/css/renialisation.css">
   <link rel="stylesheet" href="static/reinitalisation/css/normalise.css">

   <title>Oublie Mot De Passe</title>
</head>

<body class="">
   
   <nav class="navbar fs-5 w-100 position-relative z-2 text-center top-0 p-1 navbar-expand-lg"
      style="background-color: #e3f2fd !important;">
      <div class="container-fluid">
         <a class="navbar-brand" href="#"><img class="logo" src="static/home/images/logo.png" alt=""></a>

         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex m-auto recherche-form position-relative" role="search">
               <input class="form-control p-3 ps-5 rounded-3  me-2" type="search" placeholder="Search"
                  aria-label="Search">
               <button class="border-0 position-absolute recherche-icon" type="submit"><i
                     class="fa-solid fa-magnifying-glass fs-4"></i></button>
            </form>
            <ul class="navbar-nav   me-auto mb-2 mb-lg-0">

               <li class="nav-item  ">
                  <a class="nav-link activate  " href="contact"><i class="fa-regular fa-envelope" style="margin-right: 2px; font-size: 20px;"></i> Contact</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     <i class="fa-solid fa-shop"   style="margin-right: 2px; font-size: 20px;"></i>produit
                  </a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="#"><i class="fa-solid fa-mobile-screen-button" style="margin-right: 10px; font-size: 22px;"></i> Telephones</a></li>
                     <li><a class="dropdown-item" href="#"><i class="fa-solid fa-dumpster" style="margin-right: 10px; font-size: 22px;"></i>Accessoire</a></li>

                  </ul>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="#"><i class="fa-solid fa-basket-shopping" style="margin-right: 2px; font-size: 22px;"></i>Panier</a>
                </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     <i class="fa-solid fa-right-to-bracket" style="margin-right: 2px; font-size: 20px;"></i> connexion
                  </a>
                  <ul class="dropdown-menu">
                     <!--<li><a class="dropdown-item" href="#"><i class="fa-solid fa-user" style="margin-right: 10px; font-size: 22px;"></i> porfil</a></li>
                     <li><a class="dropdown-item" href="#"><i class="fa-regular fa-heart" style="margin-right: 10px; font-size: 22px;"></i>Favorie</a></li>
                     <li><a class="dropdown-item" href="#"><i class="fa-solid fa-table-cells-large" style="margin-right: 10px; font-size: 22px;"></i>Mes commandes</a></li>
                     <li><a class="dropdown-item" href="#"><i class="fa-solid fa-right-from-bracket" style="margin-right: 10px; font-size: 22px;"></i>Deconnexion</a></li>-->
                     <li><a class="dropdown-item" href="login"><i class="fa-solid fa-right-to-bracket" style="margin-right: 10px; font-size: 22px;"></i> Connexion</a></li>
                   </ul>
                </li>
            </ul>
         </div>
      </div>
   </nav>
   <div class="content  px-sm-5 p-3">
      <div class="reinitalisation ">
         <h4 class="title">Reinitalisation</h4>

         <p class="text-intial">
            Entrer le code de reinitialisation
            Un e-mail de réinitialisation de mot de passe a été envoyé à l'adresse e-mail de votre compte,Veuillez patienter si vous le trouverez pas avant de tenter une autre réinitialisation.
         </p>
         <form action="" name="myForm" onsubmit="return validation()">
            <!-- le code conteint 6 chiffre -->
            <input type="text" name="code" id="code" placeholder="Code">
            <span id="codeError"></span>


            <input type="submit" value="Reinitalisation Du Mot De Passe"
               class="btn btn-primary w-100 rounded-1  d-block">
               <div class="check align-items-center d-flex justify-content-start">
                  <label class="label ">J'ai pas resevie le code - <a href="#" class="terme">Renvoyer Le Code</a></label>
               </div>
         </form>
      </div>

   </div>


   <!-- footer -->


   <div class="footer d-flex  text-white justify-content-between">
      <div class="logo-footer">
         <img src="static/command/images/logo.png" class="" alt="">
      </div>
      <div class="box-footer flex-grow-1 d-flex align-items-center justify-content-between">
         <div class="propos">
            <h4 class="titre">Qui sommes-nous ?</h4>
            <ul class="">
               <li><a href="about">A propos de nous</a></li>
               <li><a href="https://www.facebook.com/06mobile" target="_blank">Visitez nous sur Facebook</a></li>
               <li><a href="https://www.youtube.com/@06mobile" target="_blank">Visitez nous sur Youtube </a></li>
               <li><a href="https://www.instagram.com/06mobile" target="_blank">Visitez nous sur Instagram</a></li>
            </ul>
         </div>
         <!-- <div class="services">
         <h4 class="titre">+ Services 06Mobile</h4>
         <ul class="">
            <li>Garantie 24 Mois</li>
            <li>Conseils gratuits</li>
         </ul>
         </div> -->
         <div class="faq">
            <h4 class="titre">Besoin d'aide ?</h4>
            <ul class="">
               <li><a href="/#faq">FAQ</a></li>
               <li><a href="products">Produits</a></li>
               <li><a href="feedback">Avis des clients</a></li>
            </ul>
         </div>
      </div>
     
      <div class="social">
         <h4 class="titre">Social</h4>
         <ul class="list-social d-flex align-items-center justify-content-around ">
            <li><a href="https://www.facebook.com/06mobile" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.tiktok.com/@06_mobile" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
            <li><a href="https://www.instagram.com/06mobile" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/@06mobile" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
         </ul>
         <div class="contact-btn text-center px-3 py-2 mt-4 "><a class="w-100 h-100 d-block"
               href="contact">Contact</a></div>
      </div>


   </div>



   <script src="static/reinitalisation/javascript/renialisation.js"></script>
   <script src="static/reinitalisation/javascript/all.min.js"></script>
   <script src="static/reinitalisation/javascript/bootstrap.bundle.min.js"></script>